.projects-container {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    gap: 4rem;
    color: white;
}


.project-fluff {
    text-align: center;
    font-size: 19pt;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.project>p {
    font-size: 23pt;
}

.project-image {
    background: #697176;
    height: 30vh;
    width: 42vh;
    display: flex;
    align-items: center;
}

.project-text {
    display: flex;
    flex-direction: column;
    font-family: Segoe-UI-Italic;
    font-size: 14pt;
    padding: 9px 23px;
    gap: 0.8rem;
}

.desc-and-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-size: 19pt;
}

.desc-and-media>#desc {
    flex-basis: 35%;
    display: flex;
    align-items: center;
}

.desc-and-media>#media {
    flex-basis: 55%;
    height: 48vh;
    width: 45vw;
}

.desc-and-media>#media> :first-child {
    box-shadow: 10px 10px 0 0px #3f3f3f;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: white;
}

.reverse {
    flex-direction: row-reverse;
}

@media(max-width: 1073px) {}

/* mobile */
@media(max-width: 815px) {}