<p class="title">Web Design</p>
<div class="content-container">
    <div class="process">
        <!-- <p>Description Text Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
            optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
            obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
            nihil, eveniet aliquid culpa officia au</p> -->
        <p>
            A good website is one that is built before any HTML is written. I have experiencein working in UI/UX applications such as Adobe XD and Figma.
            Whether it be a proffestional presenting website, or a more lighteheared modern one I can make a good mockup on it
        </p>
    </div>
    <div class="showcase">
        <div class="card-container">
            <div class="text-container">
                <div style="background-image: url(../../../assets/images/Web-Design/hippy_news_preview.png);"></div>
            </div>
            <div class="image-container">
                <div class="">Hippy/Alternative News Website</div>
            </div>
        </div>
        <div class="card-container reverse-card">
            <div class="text-container">
                <div style="background-image: url(../../../assets/images/Web-Design/tournements_preview.png);"></div>
            </div>
            <div class="image-container">
                <div class="">Waterpolo Team Management Wireframe</div>
            </div>
        </div>
    </div>
</div>