<p class="title">Web Design</p>
<div class="content-container">
    <div class="fluff">
        <p>
            A good website is one that is built before any HTML is written. I have experience in working in UI/UX
            applications such as Adobe XD and Figma.
            Whether it be a proffesional presenting website, or a more light-hearted modern one I can make a good mockup
            on it
        </p>
    </div>

    <div class="divider"></div>
    <div class="projects-container">
        <div class="projects">
            <div class="project">
                <p>Hippy/Alternative News Website</p>
                <div class="desc-and-media">
                    <div id="desc">
                        <p>
                            An example showing my proccess of frameworking a website
                        </p>
                    </div>
                    <div id="media">
                        <video playsinline loop muted autoplay height="100%" controls>
                            <source src="../../../assets/videos/hippy_Frameworking.mp4" type="video/mp4">
                            Error Message
                        </video>
                    </div>
                </div>
                <div class="desc-and-media reverse">
                    <div id="desc">
                        <p>
                            After making the framwework of a website, i begin with the colours.
                            Making the general theme of the website
                        </p>
                    </div>
                    <div id="media">
                        <video playsinline loop muted autoplay height="100%" controls>
                            <source src="../../../assets/videos/hippy_Theming.mp4" type="video/mp4">
                            Error Message
                        </video>
                    </div>
                </div>
                <div class="desc-and-media">
                    <div id="desc">
                        <p>
                            And finally, before any html is writting, I go through iterations that had previously not been thought about
                        </p>
                    </div>
                    <div id="media">
                        <video playsinline loop muted autoplay height="100%" controls>
                            <source src="../../../assets/videos/hippy_Finalising.mp4" type="video/mp4">
                            Error Message
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>