<p class="title">Web Development</p>
<div class="content-container">
    <div class="fluff">
        <p>It has been 4 years since I rented my first web server. I didnt know how to code HTML,
            javascript or how to serve a file
            In Hindsight it was'nt the best purchasing desicion for the skillset I had at the time. Since then i
            have
            learned store data on SQL/NoSQL dataabases.
            I have learned Transmittion Protocols, all in the effort to serve website Files and API's.</p>
    </div>
    <div class="skillset">
        <p>Skill Set</p>
        <div class="skill-display" *ngFor="let skill of skillset">
            <div class="skill-icon" [style]="'background-image: url(' + skill.icon + ');'"></div>
            <div class="skill-body">
                <div class="skill-text">
                    <p>{{skill.name}}</p>
                    <p>{{skill.experience}}</p>
                </div>
                <div class="skill-bar">
                    <div class="skill-bar-percent" [style]="'width: ' + skill.barPercent + '%;'"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="fluff">
        <p>
            I'm not stuck in the past though, where there is no need for self-hosting a service, a cloud service will
            do.
            I have used Google Firebase to handle things such as user authentication and distributed messanging, and
            have used Cloudflare to cache static files so that content is served to the user faster
        </p>
    </div>
    <div class="divider"></div>
    <div class="projects-container">
        <div class="projects">
            <p>Projects</p>
            <div class="project">
                <p>Property Scraper</p>
                <general-card text="Midway through 2022 I need a place to stay near university.
            I wanted to be alerted of new properties on the market for renting.
            I then built an app that would alert me of such properties."
                    [media]="[{mediaURL: 'assets/videos/property_mobile.mp4', image: false}]" [heightDif]="80">
                </general-card>
                <general-card text="Architecture/Stack:
                The project is built with to be cross platform with the ionic framework.
                A self wrote python script is used to collect properties from the web and store them.
                Another python script is used to send notifications to notification subscribers (me).
                Google's Firebase Cloud Messaging service is used to deliver payloads to subscribed devices."
                    [media]="[{mediaURL: 'assets/images/property\ scrape\ Infrastructure\ diagram.png', image: true}]"
                    [widthDif]="120" reverse></general-card>
            </div>
            <div class="divider"></div>
            <div class="project">
                <p>Waitless Digital Menu Platform</p>
                <div class="desc-and-media reverse">
                    <div id="desc">
                        <p>This is a website where users can view a Menu of a Restaurant.
                            All Restaurants have a specific style and theme of menu and this has to be replicated in the
                            digital menu while not being a static png/svg
                        </p>
                    </div>
                    <div id="media">
                        <video playsinline loop muted autoplay height="100%" controls>
                            <source src="../../../assets/videos/waitless_mobile.mp4" type="video/mp4">
                            Error Message
                        </video>
                    </div>
                </div>
                <div class="desc-and-media reverse">
                    <div id="desc">
                        <p>Architecture/Stack:
                            The Project uses Nginx on a hosted server to serve the html content. Menu and Restaurant
                            data is
                            stored on a MySQL database.
                            Images are Stored on Google Cloud Buckets
                        </p>
                    </div>
                    <div id="media">
                        <div class="center-image"
                            style="background-image: url(../../../assets/images/wait-less_infrastructure_diagram.png); height: 100%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="project">
                <p>Portfolio Website</p>
                <general-card text="This is the website that is currently being viewed."
                    [media]="[{mediaURL: 'assets/videos/portfolio_desktop.mp4', image: false}]"
                    colour="rgb(151 202 215)" shadowColour="#4a727c" [heightDif]="80"></general-card>
                <general-card text="Architecture/Stack:
                This project makes heavy use of Amazon Web Services. First the source code
                is compiled to the build files, and these build files are sent to an s3 bucket.
                The DNS is configured on Route 53 to fetch content from the Cloudfront CDN, which gets its
                content from the s3 bucket.
                Using git hooks, I have automated the process of invalidating the cache once new content is
                uploaded to the s3 bucket."
                    [media]="[{mediaURL: 'assets/images/Portfolio\ architecture\ diagram.png', image: true}]"
                    colour="rgb(151 202 215)" shadowColour="#4a727c" [widthDif]="120"></general-card>
            </div>
        </div>
    </div>
    <div style="min-height: 160px;"></div>
</div>