:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 83%;
    gap: 1.6rem;
    padding-bottom: 8rem;
    color: white;
}

.skillset {
    flex-basis: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: white;
}

.skillset>p {
    font-size: 36pt;
    flex-basis: 100%;
    text-align: center;
}

.skill-display {
    width: 100%;
    display: flex;
    flex-basis: 30%;
    justify-content: space-between;
    font-size: 24pt;
}

.skill-icon {
    /* height: 120%;
    flex-basis: 18%; */
    flex-basis: 18%;
    /* background-color: blue; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.js-icon {
    background-image: url(/assets/logos/JS_logo.png);
}

.skill-body {
    flex-basis: 79%;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.skill-text {
    display: flex;
    justify-content: space-between;
}

.skill-bar {
    background-color: #ffffff54;
    height: 0.6rem;
    position: relative;
}

.skill-bar-percent {
    position: absolute;
    left: 0px;
    height: 100%;
    top: 0px;
    /* width: 59%; */
    background: white;
}

/* mobile */
@media(max-width: 815px) {
    .skillset {
        gap: unset;
        justify-content: space-around;
    }

    .skill-display {
        flex-basis: 46%;
        font-size: 9pt;
        margin-bottom: 1.3rem;
    }
}