<p class="title">Web Development</p>
<div class="dev-container">
    <div class="project-fluff">
        <p>It has been 4 years since I rented my first web server. I didnt know how to code HTML,
            javascript or how to serve a file
            In Hindsight it was'nt the best purchasing desicion for the skillset I had at the time. Since then i
            have
            learned store data on SQL/NoSQL dataabases.
            I have learned Transmittion Protocols, all in the effort to serve website Files and API's.</p>
    </div>
    <div class="skillset">
        <p>Skill Set</p>
        <div class="skill-display" *ngFor="let skill of skillset">
            <div class="skill-icon" [style]="'background-image: url(' + skill.icon + ');'"></div>
            <div class="skill-body">
                <div class="skill-text">
                    <p>{{skill.name}}</p>
                    <p>{{skill.experience}}</p>
                </div>
                <div class="skill-bar">
                    <div class="skill-bar-percent" [style]="'width: ' + skill.barPercent + '%;'"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="projects"></div>

    <div class="project-fluff">
        <p class="project-fluff">
            I'm not stuck in the past though, where there is no need for self-hosting a service, a cloud service will
            do.
            I have used Google Firebase to handle things such as user authentication and distributed messanging, and
            have used Cloudflare to cache static files so that content is served to the user faster
        </p>
    </div>
    <div style="width: 100%; height: 2px; background-color: white;"></div>
    <div class="projects-container">
        <div class="projects">
            <p>Projects</p>
            <div class="project">
                <p>Waitless Digital Menu Platform</p>
                <div class="desc-and-media">
                    <div id="desc">
                        <p>This is a website where users can view a Menu of a Restaurant.
                            All Restaurants have a specific style and theme of menu and this has to be replicated in the
                            digital menu while not being a static png/svg
                        </p>
                    </div>
                    <div id="media">
                        <video playsinline loop muted autoplay height="100%">
                            <source src="../../../assets/videos/waitless_mobile.mp4" type="video/mp4">
                            Error Message
                        </video>
                    </div>
                </div>
                <div class="desc-and-media">
                    <div id="desc">
                        <p>Architecture/Stack:
                            The Project uses Nginx on a hosted server to serve the html content. Menu and Restaurant
                            data is
                            stored on a MySQL database.
                            Images are Stored on Google Cloud Buckets
                        </p>
                    </div>
                    <div id="media">
                        <div class="center-image" style="background-image: url(../../../assets/images/wait-less_infrastructure_diagram.png); height: 100%;"></div>
                    </div>
                </div>
            </div>
            <div class="project">
                <p>Property Scraper</p>
                <div class="project-image">
                    <div class="project-text">
                        <p>Mobile Application that sends push notifications to me when new properties are listed
                            on popular
                            property website</p>
                        <p>Uses NoSQL database</p>
                        <p>Uses Google Firebase cloud for notifications</p>
                        <p>Backend on Python and Node.js</p>
                    </div>

                </div>
            </div>
            <div class="project">
                <p>Faade Event Finder</p>
                <div class="project-image">
                    <div class="project-text">
                        <p>Web Application to find events that are happening around</p>
                        <p>Angular Frontend</p>
                        <p>Node.js Backend</p>
                        <p>MySQL database</p>
                    </div>

                </div>
            </div>
            <div class="project">
                <p>Waitless Digital Menu CMS</p>
                <div class="project-image">
                    <div class="project-text">
                        <p>Content Management System for managing The availabily of items on menus and specials</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>