<fullscreen-viewer></fullscreen-viewer>
<sidebar id="sidebar" [windows]="windows" (scrollToSection)="scrollTo($event)"></sidebar>
<div class="topbar">
  <div>
    <p>THUTHUKA KHUMALO</p>
    <p (click)="toggleContactModal()" style="cursor: pointer;">CONTACT</p>
  </div>
</div>

<div id="fakeBody" [class]="'fake-body' + (windows[0].scrolling ? '' : ' disable-scrolling')">

  <div id="prewindow">
    <div class="home-container">
      <div class="leftside">
        <p>CREATIVE</p>
        <p>DEVELOPER</p>
        <div class="header-image"></div>
        <p>THUTHUKA KHUMALO</p>
      </div>
      <div class="rightside">
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
          molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
          numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
          obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
          nihil, eveniet aliquid culpa officia au</p> -->
        <p>I'm a web developer with experience in building websites from the ground up.</p>
        <p>Before any HTML is written, I
          create a website mockup in Adobe XD to preview what the final product would look like to the client.</p>

        <div class="more-below-containter">
          <div class="dashed-circle" (click)="scrollToCategories()"></div>
          <div class="down-arrow"></div>
          <div class="arrow-text">
            <p>projects</p>
          </div>
        </div>
      </div>
    </div>

    <div class="categories" id="categories">
      <category *ngFor="let category of categories" (click)="scrollTo(category.id)" [marginLeft]="category.marginLeft" [background]="category.background">
        <div class="category-text">{{category.name}}</div>
      </category>
    </div>
  </div>

  <div class="windows" id="windows">
    <window [id]="windows[1].id" [view]="windows[1].inView" name="WebDesign" backgroundClass="grey-background"
      borderColor="#0F0B04" [scrolling]="windows[1].scrolling" (hitBottom)="scrollTo(windows[1].below)"
      (hitTop)="scrollTo(windows[1].above)">
      <web-dev></web-dev>
    </window>
    <window [id]="windows[2].id" [view]="windows[2].inView" name="ComputerGraphics" backgroundClass="black-background"
      borderColor="#0BA81A" [scrolling]="windows[2].scrolling" (hitBottom)="scrollTo(windows[2].below)"
      (hitTop)="scrollTo(windows[2].above)">
      <graphics-engine></graphics-engine>
    </window>
    <window [id]="windows[3].id" [view]="windows[3].inView" name="Networking" backgroundClass="blue-wavy-background"
      borderColor="rgb(95 195 199)" [scrolling]="windows[3].scrolling" (hitBottom)="scrollTo(windows[3].below)"
      (hitTop)="scrollTo(windows[3].above)">
      <networking></networking>>
    </window>
    <window [id]="windows[4].id" [view]="windows[4].inView" name="GraphicDesign"
      backgroundClass="brown-background" borderColor="#6D491C" [scrolling]="windows[4].scrolling"
      (hitBottom)="scrollTo(windows[4].below)" (hitTop)="scrollTo(windows[4].above)">
      <web-design></web-design>
    </window>
    <window [id]="windows[5].id" [view]="windows[5].inView" name="WebDevelopment" backgroundClass="pastelle-background"
      borderColor="#B5E9F9" [scrolling]="windows[5].scrolling" (hitBottom)="scrollTo(windows[5].below)"
      (hitTop)="scrollTo(windows[5].above)">
      <graphic-design></graphic-design>
    </window>
    <window [id]="windows[6].id" [view]="windows[6].inView" name="Multimedia" backgroundClass="grid-background"
      borderColor="#D60EAA" [scrolling]="windows[6].scrolling" (hitBottom)="scrollTo(windows[6].below)"
      (hitTop)="scrollTo(windows[6].above)">
      <multimedia></multimedia>
    </window>
  </div>

</div>
<modal-container id="contactModal" [modalDisplay]="showContactModal" (close)="toggleContactModal()">
  <div class="contact-box">
    <div class="contact-method">
      <p id="name">EMAIL: </p>
      <a id="value" href="mailto:thuthuka111@gmail.com">thuthuka111@gmail.com</a>
    </div>
    <div class="contact-method">
      <p id="name">PHONE: </p>
      <p id="value">063 874 1990</p>
    </div>
  </div>
</modal-container>