.fake-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Neue-Montreal';
    height: 100vh;
    overflow-y: scroll;
}

#prewindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
}

.canvas-container {
    width: 90vw;
    height: 90vh;
    background-color: burlywood;
    border-right: solid burlywood 1rem;
    border-top: solid burlywood 1rem;
    position: relative;
}

.canvas-container>div {
    width: 100%;
    height: 100%;
    background-color: rgb(221, 151, 58);
}

.topbar {
    position: fixed;
    top: 2rem;
    width: 100vw;
}

.topbar>div {
    font-size: 18pt;
    font-family: 'Neue-Montreal';
    padding: 0% 10%;
    display: flex;
    justify-content: space-between;
}

.home-container {
    text-transform: uppercase;
    margin-top: 20vh;
    /* 13% */
    width: 80%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.leftside {
    flex-basis: 54%;
    font-size: 59pt;
}

.rightside {
    flex-basis: 40%;
    font-size: 18pt;
    text-align: center;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-image {
    margin: 1.6rem 0rem;
    height: 12rem;
    width: 90%;
    background-image: url(../assets/images/image.jpg);
    background-position: center;
}

.more-below-containter {
    position: relative;
    width: 11vw;
    height: 11vw;
    margin-top: 32%;
}

.dashed-circle {
    position: absolute;
    border: dashed black 2px;
    border-radius: 500px;
    width: 100%;
    height: 100%;
}

.down-arrow {
    position: absolute;
    clip-path: polygon(50% 90%, 95% 45%,
            100% 50%,
            50% 100%,
            0% 50%, 5% 45%);
    background-color: black;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}

.more-below-containter>.arrow-text {
    width: 100%;
    height: 100%;
    padding-top: 24%;
}

.categories {
    margin-bottom: 27vh;
    width: 80%;
    flex-flow: wrap;
    display: flex;
    justify-content: center;
    gap: 7rem;
}

category {
    flex-basis: 40%;
}

.category-text {
    position: absolute;
    z-index: 2;
    font-size: 50pt;
    text-transform: uppercase;
}

.windows {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    width: 100%;
}

window {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

web-design {
    display: flex;
    flex-direction: column;
    align-items: center;
}

graphic-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 83%;
    gap: 5.3rem;
    padding-bottom: 8rem;
}

@media(max-width: 1073px) {

    /*lg*/
    .leftside {
        flex-basis: 54.33%;
        font-size: 36pt;
    }

    .rightside {
        flex-basis: 40%;
    }

    .more-below-containter {
        width: 20vw;
        height: 20vw;
    }
}

@media(max-width: 815px) {

    /*md*/
    .home-container {
        margin-top: 12vh;
        justify-content: center;
    }

    .leftside {
        flex-basis: 100%;
    }

    .rightside {
        flex-basis: 100%;
        font-size: 15pt;
    }

    .more-below-containter {
        width: 30vw;
        height: 30vw;
        margin-top: 13%;
    }
}