<p class="title">Networking</p>
<div class="content-container">
    <div class="fluff">
        <p>This project showcases a multithreaded Tcp Server Built with Rust Language.
            The Project is built to be the backend of a shared world application.
            Because the project is built on the same protocol that web servers use,
            it can be expanded to server Web Pages
        </p>
    </div>
    <div class="projects-container">
        <div class="project">
            <p>"Pong"-escue Game Server</p>
            <general-card text="Video Showing 2 instances of the same program sharing data over the network"
                [media]="[{mediaURL: 'assets/videos/Networking.mp4', image: false}]" colour="#0066ff"
                shadowColour="#001b4f" [widthDif]="50" [heightDif]="-10">
            </general-card>
            <div class="fluff">
                <p>The Server is hosted on an AWS EC2 instance, this way when there is not a current session, the server
                    does not incure expense
                </p>
            </div>
        </div>
    </div>
</div>