.media-container
    width: 600px
    height: 500px
    position: relative

    .media-platform
        width: 97%
        height: 97%
        background-color: rgb(90, 90, 243)

    .media-shadow
        width: 97%
        height: 97%
        background-color: navy
        position: absolute
        bottom: 0px
        right: 0px
        z-index: -1

.text-platform
    max-width: 350px
    background-color: rgb(90, 90, 243)
    padding: 1.6rem
    font-size: 19pt

.text-shadow
    width: 200%
    height: 97%
    background-color: navy
    position: absolute
    bottom: -10px
    right: 0px
    z-index: -1
