<div class="flex-row center card-container" [style]="(reverse !== undefined ? 'flex-direction: row-reverse': '')">
    <div #media_container class="media-container">
        <div #media_platform class="flex-row center media-platform">
            <!--pass this data into the carousel-->
            <div *ngIf="media" style="height: inherit; width: inherit;">
                <div *ngIf="media[0].image" class="center-image"
                    style="background-image: url('{{media[0].mediaURL}}'); height: 100%; width: inherit;">
                </div>
                <div *ngIf="!media[0].image" id="media"
                    style="width: inherit; height: inherit; display: flex; justify-content: center;">
                    <video playOnViewport playsinline loop muted height="100%" controls>
                        <source [src]="media[0].mediaURL" type="video/mp4">
                        Error Message
                    </video>
                </div>
            </div>
            <!--clean up this fillscreentoggle-->
            <img src="assets/svgs/fullscreen_FILL0_wght400_GRAD0_opsz48.svg" class="fullscreen-toggle"
                alt="Fullscreen Toggle" (click)="toggleFullscreen()">
        </div>
        <div #media_shadow class="media-shadow"></div>
    </div>
    <div class="flex-row center" style="position: relative;">
        <div #text_platform class="text-platform" [style]="(reverse !== undefined ? 'text-align: right': '')">
            {{text}}</div>
        <div #text_shadow class="text-shadow" [style]="(reverse !== undefined ? 'left: 0px': '')">
        </div>
    </div>
</div>